@{
    ViewBag.Title = "Index";
}

<style>
    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
    }
</style>

<h2 class="text-center">
    Welcome to Book Haven
</h2>

<div class="center-image">
    <img src="https://img.freepik.com/free-psd/world-book-day-horizontal-banner-template_23-2148886450.jpg?w=1060&t=st=1694699716~exp=1694700316~hmac=a8882b6e2d211ee734dcbaa76b6804a352a3e2fdc59dc5ad0f3914571ff13710" alt="Bookstore Banner">
</div>
